## Population density

In [2]:
import pandas as pd
import os
current_dir = os.getcwd()

In [3]:
url_densidad_poblacion = os.path.join(current_dir, '../../data/raw/extractions/Densidad poblacion_y _Crecimiento_poblacional.xlsx')

# Abrir
df = pd.read_excel(url_densidad_poblacion, engine='openpyxl')

# Mostrar las primeras filas
print(df.head())

  table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)  \
0  Table 1. Annual Estimates of the Resident Popu...
1                                    Geographic Area
2                                                NaN
3                                      United States
4                                          Northeast

            Unnamed: 1      Unnamed: 2                          Unnamed: 3  \
0                  NaN             NaN                                 NaN
1  2010-04-01 00:00:00             NaN  Population Estimate (as of July 1)
2               Census  Estimates Base                                2010
3            308745538       308758105                           309321666
4             55317240        55318443                            55380134

    Unnamed: 4   Unnamed: 5   Unnamed: 6   Unnamed: 7   Unnamed: 8  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2       2011.0       2012.0       2013.0       2014.0       2015.0
3  311556874.0  313830990.0  315993715.0  318301008.0  320635163.0
4   55604223.0   55775216.0   55901806.0   56006011.0   56034684.0

    Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2       2016.0       2017.0       2018.0       2019.0
3  322941311.0  324985539.0  326687501.0  328239523.0
4   56042330.0   56059240.0   56046620.0   55982803.0

In [4]:
print(df.columns.tolist)

<bound method IndexOpsMixin.tolist of Index(['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')>

In [5]:
# Seleccionar columnas de estados y población 2018 (ajusta los nombres según tu archivo)
columnas_deseadas = ['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']  # Ejemplo: 'State' para estados y '2018' para datos de ese año
df_filtrado = df[columnas_deseadas]

# Eliminar filas que no son estados
df_filtrado = df_filtrado[~df_filtrado['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)'].str.contains('United States|Puerto Rico', na=False)]
df_final = df_filtrado.iloc[8:].reset_index(drop=True)

# Cambiar nombres de columnas
df_densidad_poblacion = df_final.rename(columns={
    'table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)': 'State',     
    'Unnamed: 4' : 'poblacion_2011', 
    'Unnamed: 5' : 'poblacion_2012' ,
    'Unnamed: 6' : 'poblacion_2013',
    'Unnamed: 7' : 'poblacion_2014', 
    'Unnamed: 8' : 'poblacion_2015', 
    'Unnamed: 9' : 'poblacion_2016'
})

#Quitamos los . de los estados
df_densidad_poblacion['State'] = df_densidad_poblacion['State'].str.replace(r'^\.', '', regex=True)

# Mostrar resultado
df_densidad_poblacion.head()

,State,poblacion_2011,poblacion_2012,poblacion_2013,poblacion_2014,poblacion_2015,poblacion_2016
0,Arizona,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0
1,Arkansas,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0
2,California,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0
3,Colorado,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0
4,Connecticut,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0

In [6]:
estados_deseados = ['California', 'Texas', 'Wisconsin']
df_densidad_filtrado = df_densidad_poblacion[df_densidad_poblacion['State'].isin(estados_deseados)].reset_index(drop=True)
df_densidad_filtrado

,State,poblacion_2011,poblacion_2012,poblacion_2013,poblacion_2014,poblacion_2015,poblacion_2016
0,California,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0
1,Texas,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0
2,Wisconsin,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0

In [7]:
# Diccionario de estados a abreviaturas
abreviaturas = {
    'California': 'CA',
    'Texas': 'TX',
    'Wisconsin': 'WI'
}

# Reemplazar los nombres por abreviaturas
df_densidad_filtrado['State'] = df_densidad_filtrado['State'].replace(abreviaturas)
df_densidad_filtrado

,State,poblacion_2011,poblacion_2012,poblacion_2013,poblacion_2014,poblacion_2015,poblacion_2016
0,CA,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0
1,TX,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0
2,WI,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0

In [11]:
## Guardar en CSV

df_densidad_filtrado_path = os.path.join(current_dir, '../../data/raw/macrodata/')

df_densidad_poblacion_data = os.path.join(df_densidad_filtrado_path, "population_density.csv")

df_densidad_filtrado.to_csv(df_densidad_poblacion_data, index=False)